<script type="text/javascript" src="/js/non-letter-characters.js"></script>
<script type="text/javascript" src="/js/pseudo-words.js"></script>
<script type="text/javascript" src="/js/words.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
