doctype html
html(lang="en")

  include ./includes/head.jade

  body.practice
    div.bookend
      div.content
        p You’ve qualified for the next part of the test!
        p
          a(href='/experiment') Start
