doctype html
html(lang="en")

  include ./includes/head.jade

  body.practice
    div.bookend
      div.content
        ul
          li Answer “yes” by pressing “Q”
          li Answer “no” by pressing “P”
        p
          a(href='/qualifier') Start
