doctype html
html(lang="en")

  include ./includes/head.jade

  body.practice
    div#container
      div#fixation-rectangle
      div#mask ==<|=
      div#word Word
      div#prompt Was that a word?
    
    div#break.bookend
      div.content
        p Time for a break!
        p#break-remaining 00
    
    include ./includes/foot.jade
