@font-face {
  font-family: 'fs-me';
  src: url('/fonts/FSMeWeb-Regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: courier, monospace;
  font-size: 20px;
}

.practice #word {
  font-family: Georgia, serif;
  font-size: 12mm; /* 8mm cap height */
}

.arial #word {
  font-family: Arial, sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.frutiger #word {
  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.fs-me #word {
  font-family: 'fs-me', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.polarity-normal {
  background: #fff;
  color: #000;
}

.polarity-reversed {
  background: #000;
  color: #fff;
}

#container > div {
  display: none;
}

#container.fixation-rectangle #fixation-rectangle {
  display: block;
}

#container.mask #mask {
  display: block;
}

#container.word #word {
  display: block;
}

#container.prompt #prompt {
  display: block;
}

#fixation-rectangle {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background: url('/img/frame.svg') no-repeat center;
}

.polarity-reversed #fixation-rectangle {
  background-image: url('/img/frame-inverse.svg');
}

#mask,
#word,
#prompt {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
