@font-face {
  font-family: 'fs-me';
  src: url('/fonts/FSMeWeb-Regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Georgia, serif;
  font-size: 12mm; /* 8mm cap height */
}

.arial #word,
.arial #mask {
  font-family: Arial, sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.frutiger #word,
.frutiger #mask {
  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.fs-me #word,
.fs-me #mask {
  font-family: 'fs-me', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.system #word,
.system #mask {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.polarity-normal {
  background: #fff;
  color: #000;
}

.polarity-reversed {
  background: #000;
  color: #fff;
}

#container > div,
.break {
  display: none;
}

#container.fixation-rectangle #fixation-rectangle {
  display: block;
}

#container.mask #mask {
  display: block;
}

#container.word #word {
  display: block;
}

#container.prompt #prompt {
  display: block;
}

#fixation-rectangle {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background: url('/img/frame.svg') no-repeat center;
}

.polarity-reversed #fixation-rectangle {
  background-image: url('/img/frame-inverse.svg');
}

#mask,
#word,
#prompt {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.bookend {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.polarity-normal .bookend {
  background: #fff;
}
.polarity-reversed .bookend {
  background: #000;
}
.content {
  font-size: 80%;
  display: inline-block;
  width: 600px;
  text-align: left;
}
.content.center {
  text-align: center;
}
.content h1 {
  margin: 0 0 0.5em 0;
}
.content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.content li {
  margin: 0 0 0.5em 0;
}
