@font-face {
  font-family: 'fs-me';
  src: url('/fonts/FSMeWeb-Regular.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.practice {
  font-family: Georgia, serif;
  font-size: 12mm; /* 8mm cap height */
}

.arial {
  font-family: Arial, sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.frutiger {
  font-family: 'Frutiger LT W01_55 Roma1475738', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

.fs-me {
  font-family: 'fs-me', sans-serif;
  font-size: 6mm; /* 4mm cap height */
}

#container {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  background: url('/img/frame.svg') no-repeat center;
}

#word {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
